version: '3.8'

services:
  postgres:
    image: postgres:latest
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: user
      POSTGRES_DB: db_rate
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  spring-app:
    build: .
    container_name: spring_rate
    depends_on:
      - postgres
    ports:
      - "8080:8080"
    environment:
      SPRING_LIQUIBASE_URL: jdbc:postgresql://postgres:5432/db_rate
      SPRING_LIQUIBASE_USER: user
      SPRING_LIQUIBASE_PASSWORD: user
      SPRING_DATASOURCE_URL: r2dbc:postgresql://postgres:5432/db_rate
      SPRING_DATASOURCE_USERNAME: user
      SPRING_DATASOURCE_PASSWORD: user

volumes:
  postgres_data:
